{% extends 'core/base.html' %}

{% block title %}
    Productos - Tienda Online
{% endblock title %}

{% block content %}
    <h1>Lista de Productos</h1>
    <div class="mb-3 text-end">
        <a href="{% url 'productos:crear_producto' %}" class="btn btn-primary">Agregar Producto</a>
    </div>
    <div class="container d-flex flex-wrap gap-3 ">
        {% for producto in productos %}
            {% include "components/card_list.html" with titulo=producto.nombre contenido=producto.descripcion imagen_url=producto.imagen.url class_boton="btn btn-primary" id_boton="btn-detalles-{{ producto.id }}"%}
        {% endfor %}
    </div>
{% endblock content %}
