{% extends 'core/base.html' %}

{% block title %}
    Lista de Proveedores - Tienda Online
{% endblock title %}

{% block content %}
<div class="m-3 text-end">
    <a href="{% url 'proveedores:crear_proveedor' %}" class="btn btn-primary">Crear Proveedor</a>
</div>
    <h1>Lista de Proveedores</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
            <tr>
                <td>{{ proveedor.nombre }}</td>
                <td>{{ proveedor.direccion }}</td>
                <td>{{ proveedor.telefono }}</td>
                <td>{{ proveedor.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}