<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Mi tienda</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url 'productos:lista_productos' %}">Productos</a>
        <a class="nav-link" href="#">Clientes</a>
        <a class="nav-link" href="{% url 'proveedores:listar_proveedores' %}">Proveedores</a>
      </div>
      <!-- Enlaces de autenticación alineados a la derecha -->
      {% if user.is_authenticated %}
        <div class="navbar-nav ms-auto">
          <span class="nav-link">Bienvenido, {{ user.username }}</span>
          {% comment %} <a class="nav-link" href="{% url 'clientes:logout' %}">Cerrar sesión</a> {% endcomment %}
          <form method="post" action="{% url 'clientes:logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Cerrar Sesión</button>
          </form>
        </div>
      {% else %}
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="{% url 'clientes:login' %}">Login</a>
          <a class="nav-link" href="{% url 'clientes:register' %}">Registro</a>
        </div>
      {% endif %}
    </div>
  </div>
</nav>
