{% extends 'core/base.html' %}
{% comment %} {% load widget_tweaks %} {% endcomment %}
{% load crispy_forms_tags %}

{% block title %}
  Registro - Tienda Online
{% endblock title %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h2 class="mb-6">Registro de Cliente</h2>
        <form method="post">
            {% csrf_token %}
            {{ user_form|crispy }}
            {{ cliente_form|crispy }}
            <button type="submit" class="btn btn-primary mt-3">Registrar</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}